<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278077413383-872bv8p9tq9225tpc5a6tce9lq0qul68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278077413383-872bv8p9tq9225tpc5a6tce9lq0qul68</string>
	<key>API_KEY</key>
	<string>AIzaSyCGrEY1dnlHB5sZ8aumYdUixcoMxUAweyo</string>
	<key>GCM_SENDER_ID</key>
	<string>278077413383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umitemreaydin.OMDP</string>
	<key>PROJECT_ID</key>
	<string>omdb-app-5be9b</string>
	<key>STORAGE_BUCKET</key>
	<string>omdb-app-5be9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278077413383:ios:c93d5483245320fddff2a2</string>
</dict>
</plist>